* {
    margin: 0;
    padding: 0;
}

header {
    height: 85px;
    background-color: blue;
    display: flex;
    font-weight: bold;
    font-size: 15px;
}

header nav a {
    color: #FFF;
    padding: 0px 15px;
    cursor: pointer;
    text-decoration: none;
}

#cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin:  0 auto;
    width: 100%;
}

#logo_cabecalho {
    margin-left: 30px;
}

#menu_opcoes {
    display: flex;
    justify-items: flex-end;
    margin-right: 30px;
}

/* RESPONSIVIDADE DO MENU*/

@media (max-width: 1000px) {
    header {
        height: 50px;
    }

    #logo_cabecalho {
        margin-left: 10px;
    }

    #img_logo {
        width: 80px;
    }

    #menu_opcoes {
        margin-right: 10px;
    }

    header nav a {
        padding: 0px 5px;
        font-size: 12px;
    }
}

section {
    max-width: 1500px;
    margin: 100px auto;
}

#introducao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    color: #FF4081;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

h3 {
    color: #009688;
    font-size: 30px;
    margin: 30px auto;
}

h5 {
    display: flex;
    justify-content: center;
    margin: -30px auto;
    color: #9D9D9D;   
}

p {
    margin: 25px 0px 100px 0px;
}

#introducao {
    display: block;
    background-color: #C4C4C4;
    height: 600px;
}

/*RESPONSIVIDADE DA INTRODUÇÃO*/

@media (max-width: 1000px) {
    #introducao {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 20px);
        height: 350px;
        margin: 50px 10px;
    }

    h1 {
        font-size: 30px;
        text-align: center;
    }

    p {
        margin: 15px 10px;
        font-size: 12px;
    }

    h3 {
        margin: 20px 10px;
        line-height: 130%;
        font-size: 25px;
    }
}

article {
    max-width: 1500px;
    margin: 0 auto;
    text-align: justify;
    line-height: 150%;
}

.investimento_poupando_independencia {
    gap: 30px;
    margin: 50px auto;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comecar_agora {
    background-color: #FF4081;
    padding: 10px 30px;
    border-radius: 30pc;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}


/* RESPONSIVIDADE DA SESSÃO NOSSSOS CURSOS*/

@media (max-width: 1000px) {
    .investimento_poupando_independencia {
        font-size: 13px;
        margin-top: -50px;
        overflow-x: scroll;
        display: flex;
        align-items: flex-end;
        padding: 15px 10px;
    }

    #investimentos, #poupando, #independencia{
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    #independencia {
        width: 400px;
    }

    .investimento_poupando_independencia::-webkit-scrollbar {
        background-color: #FFF;
        height: 10px;
    }

    .investimento_poupando_independencia::-webkit-scrollbar-thumb {
        background-color: #009688;
        border-radius: 20px;
    }
}

/* RESPONSIVIDADE DE FALAM SOBRE*/
@media (max-width: 1000px) {
    #falam_sobre {
        margin: 10px 5px 110px 5px;
    }

    .titulo {
        margin: 20px auto auto;
        text-align: center;
    }

    h3 {
        margin: 20px 10px;
    }

    .depoimentos {
        display: flex;
        align-items: center;
        padding: 10px 5px;
    }
    
}

#mais_conteudo {
    margin: 10px auto;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
}

.conteudo {
    padding: 10px 50px;
}

#retangulo {
    width: 319px;
    height: 193px;
    background-color: #C4C4C4;
}

h4 {
    color: #009688;
    margin-top: 15px;
    margin-bottom: -20px;
}

#todos_posts {
    display: block;
    margin: 10px auto;
    width: 150px;
    text-align: center;
    border: #FF4081 solid 1px;
    border-radius: 30px;
    padding: 5px 25px;
    cursor: pointer;
    text-decoration: none;
    color: #FF4081;

}

/* RESPONSIVIDADE DO MAIS CONTÉUDO*/

@media (max-width: 1000px) {
    #mais_conteudo {
        display: flex;
        overflow-x: scroll;
    }

    #mais_conteudo::-webkit-scrollbar {
    background-color: #FFF;
    height: 10px;
    }

    #mais_conteudo::-webkit-scrollbar-thumb {
        background-color: #009688;
        border-radius: 20px;
    }

    .conteudo {
        padding: 10px 10px;
    }
}

footer {
    background-color: #419488;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo_rodape {
    margin-left: 30px;
}

#rodape {
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#rodape_outras_opcoes {
    margin-right: 30px;
}

#rodape_opcoes {
    display: flex;
    flex-direction: column;
    color: #FFF;
}

.rodape_opcoes {
    padding: 5px 0px;
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
}

#outras_opcoes {
    display: flex;
    flex-direction: column;
    color: #FFF;
}

.outras_opcoes {
    padding: 5px 25px;
    border-radius: 25px;
    border: #FFF solid 1px;
    cursor: pointer;
}

/* RESPONSIVIDADE DO RODAPÉ*/

@media (max-width: 1000px) {
    footer {
        height: 110px;
    }

    footer img {
        width: 120px;
    }

    #logo_rodape {
        margin-left: 10px;
    }

    #img_rodape {
        width: 80px;
    }
    
    .rodape_opcoes, .outras_opcoes {
        font-size: 12px;
    }

    #rodape_outras_opcoes {
        margin-right: 10px;
        text-align: center;
     }

    .outras_opcoes {
        padding: 2px;
        width: 100px;
    }
}








